body{
	background-color:#120A29;
}
.main{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	margin-top:100px;
}
.logo{
	height:60px;
	width: 60px;
	left:20px;
	top:25px;
	position: absolute;
	border-radius: 40px;
}
a{
	color: white;
	text-decoration: none;
}
.coride{
	width: 169px; 
	height: 43px; 
	left: 98px; 
	top: 40px; 
	position: absolute; 
	font-size: 26px; 
	font-family: Roboto Serif; 
	font-weight: 700; 
	word-wrap: break-word;
    color: white;
}
.home{
	width: 169px; 
	height: 43px; 
	left: 400px; 
	top: 30px; 
	position: absolute; 
	color: white; 
	font-size: 24px; 
	font-family: Roboto Serif; 
	font-weight: 400; 
	word-wrap: break-word;
	border-radius: 20px;
	background-color: #120A29;
	border-color: white;
	border-width: 0px;
}
.aboutus{
	width: 169px; 
	height: 43px; 
	left: 580px; 
	top: 30px; 
	position: absolute; 
	color: white; 
	font-size: 24px; 
	font-family: Roboto Serif; 
	font-weight: 400; 
	word-wrap: break-word;
	border-radius: 20px;
	background-color: #120A29;
	border-color: white;
	border-width: 0px;
}
.service{
	width: 169px; 
	height: 43px; 
	left: 760px; 
	top: 30px; 
	position: absolute; 
	color: white; 
	font-size: 24px; 
	font-family: Roboto Serif; 
	font-weight: 400; 
	word-wrap: break-word;
	border-radius: 20px;
	background-color: #120A29;
	border-color: white;
	border-width: 0px;
}
.profile{
	width: 169px; 
	height: 43px; 
	left: 940px; 
	top: 30px; 
	position: absolute; 
	color: white; 
	font-size: 24px; 
	font-family: Roboto Serif; 
	font-weight: 400; 
	word-wrap: break-word;
	border-radius: 20px;
	background-color: #120A29;
	border-color: white;
	border-width: 0px;
}
.login{
	width: 200px; 
	height: 43px;
	left: 1240px; 
	top: 30px;
	background-color:#FF5737;
	color: white; 
	font-size: 22px; 
	font-family: Roboto Serif; 
	font-weight: 600; 
	word-wrap: break-word;
	position: absolute;
	border-radius: 20px;
	border-color: white;
	border-width: 0px;
}
.publish{
	width: 200px; 
	height: 43px;
	left: 1020px; 
	top: 200px;
	background-color:#FF5737;
	color: white; 
	font-size: 22px; 
	font-family: Roboto Serif; 
	font-weight: 600; 
	word-wrap: break-word;
	position: absolute;
	border-radius: 20px;
	border-color: white;
	text-align: center;
	border-width: 0px;
	background-image:linear-gradient(to left, rgba(255, 87, 55, 1) ,rgba(18, 10, 41, 1));
}
.book{
	width: 200px; 
	height: 43px;
	left: 300px; 
	top: 280px;
	background-color:#FF5737;
	color: white; 
	font-size: 22px; 
	font-family: Roboto Serif; 
	font-weight: 600; 
	word-wrap: break-word;
	position: absolute;
	border-radius: 20px;
	border-color: white;
	text-align: center;
	border-width: 0px;
	background-image:linear-gradient(to right, rgba(255, 87, 55, 1) ,rgba(18, 10, 41, 1));
}
.think{
	color:white;
	text-align:center;
	font-size:25px;
	font-family:Inter;
	margin-top:-5px;
}
.caption{
	color:white;
	text-align: center;
	font-size:15px;
	font-family:Inter;
	font-weight:1;
	margin-top:-5px;
}
.download1{ 
	height: 60px;
	margin-left:520px;
            margin-top:5px;
	width: 15%;
}
.download2{
	height: 60px;
	margin-left: 35px;
            margin-top:5px;
	width: 15%;
}